node-red/flows.json
[{"id":"175ac9b3.597d26","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f73701b2.ef37","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"42d00119.a0a81","type":"debug","z":"175ac9b3.597d26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":580,"wires":[]},{"id":"932c8d91.d9f63","type":"function","z":"175ac9b3.597d26","name":"Format Name","func":"msg.topic = 'name goes here'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":540,"wires":[["fdb7d529.11b708"]]},{"id":"b060b751.5f0fa8","type":"inject","z":"175ac9b3.597d26","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["932c8d91.d9f63","42d00119.a0a81"]]},{"id":"fdb7d529.11b708","type":"debug","z":"175ac9b3.597d26","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"7dd1333.d8c32cc","type":"switch","z":"175ac9b3.597d26","name":"Detect Payload Type","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":360,"wires":[[]]},{"id":"c3e7c30f.0769b","type":"inject","z":"175ac9b3.597d26","name":"CSV POST","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"vehicles","payload":"Year,Make,Model,Length 1997,Ford,E350,2.34 2000,Mercury,Cougar,2.38 1999,Chevy,Venture,2.55 1996,Jeep,Grand Cherokee,2.36","payloadType":"str","x":130,"y":300,"wires":[["7dd1333.d8c32cc"]]},{"id":"cf6d70d4.fc97c","type":"inject","z":"175ac9b3.597d26","name":"XML POST","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"employees","payload":"<?xml version=\"1.0\" encoding=\"UTF-8\" ?> <employees> <employee> <id>1</id> <firstName>Scarlett</firstName> <lastName>Johansson</lastName> <photo>http://si.wsj.net/public/resources/images/BN-BY925_mag041_OZ_20140318165119.jpg</photo> </employee> <employee> <id>2</id> <firstName>Chris</firstName> <lastName>Evans</lastName> <photo>https://pbs.twimg.com/profile_images/605082381528096769/gt_sJRot.png</photo> </employee> <employee> <id>3</id> <firstName>Jeremy</firstName> <lastName>Renner</lastName> <photo>https://pbs.twimg.com/profile_images/603945839795412992/XTssKbRC.jpg</photo> </employee> </employees>","payloadType":"str","x":120,"y":380,"wires":[["7dd1333.d8c32cc"]]},{"id":"b843e2f0.dd7c5","type":"inject","z":"175ac9b3.597d26","name":"JSON POST","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"employees","payload":"{     \"employees\": {         \"employee\": [             {                 \"id\": \"1\",                 \"firstName\": \"Scarlett\",                 \"lastName\": \"Johansson\",                 \"photo\": \"http://si.wsj.net/public/resources/images/BN-BY925_mag041_OZ_20140318165119.jpg\"             },             {                 \"id\": \"2\",                 \"firstName\": \"Chris\",                 \"lastName\": \"Evans\",                 \"photo\": \"https://pbs.twimg.com/profile_images/605082381528096769/gt_sJRot.png\"             },             {                 \"id\": \"3\",                 \"firstName\": \"Jeremy\",                 \"lastName\": \"Renner\",                 \"photo\": \"https://pbs.twimg.com/profile_images/603945839795412992/XTssKbRC.jpg\"             }         ]     } }","payloadType":"str","x":140,"y":460,"wires":[["7dd1333.d8c32cc"]]},{"id":"4f01426d.1b2f7c","type":"http in","z":"175ac9b3.597d26","name":"testing http in","url":"/test/:name","method":"post","upload":true,"swaggerDoc":"","x":140,"y":80,"wires":[["6786f617.a00e08","990350d4.7ae0c"]]},{"id":"6786f617.a00e08","type":"function","z":"175ac9b3.597d26","name":"Get name","func":"msg.payload.params = msg.req.params\nmsg.payload.processed = true\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["11621a48.b97606","9ae244e0.8be3b8"]]},{"id":"990350d4.7ae0c","type":"debug","z":"175ac9b3.597d26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":140,"wires":[]},{"id":"11621a48.b97606","type":"http response","z":"175ac9b3.597d26","name":"http out","statusCode":"200","headers":{},"x":520,"y":80,"wires":[]},{"id":"9ae244e0.8be3b8","type":"debug","z":"175ac9b3.597d26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":160,"wires":[]}]